<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
  <nav>
    <form action="/get_coords" method="POST">
    <input type="text" id="location" name="location" required placeholder="Search City">
    <button type="submit" class="grey-button">Get Forecast</button>
</form>
  </nav>
  <div class="box">    
    <section class="current-weather">
        <div class="weatherInfo">
            <div class="main">
                
            </div>
            <div class="desc">
                
            </div>
            <div class="supplementary">
                
            </div>
        </div>
        <div>
            
        </div>
    </section>
    <section class="daily-weather">
    <h2 class="daily-weather-header">8-day Forecast</h2>
        <div id="daily-forecast-container"></div>
       
    </section>
  </div>
  </div>
    <!-- Link to the JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/0666a8bc0c.js" crossorigin="anonymous"></script>
</body>
</html>